<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @invoice.company %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @invoice.tax %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @invoice.employee_id %>
</p>

  <div class="media">
  	<div class="media-body">
  		<table class="table table-hover">
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Category</th>
  					<th>Quantity</th>
  					<th>Delete</th>
  				</tr>
  			</thead>
  			<tbody>
  			  <% @purchaces.each do |purchace| %>
  				<tr>
  					<td><h4><%= purchace.name %></h4></td>
  					<td><h4><%= purchace.category %></h4></td>
  					<td><h4><%= purchace.quantity %></h4></td>
  					<td><h4><%= link_to "Delete", [@invoice, purchace], method: :delete, data: { confirm: 'Are you sure you want to delete this purchase?' } %></h4></td>
  				</tr>
  			  <% end %>
  			</tbody>
  		</table>
  	</div>
  </div>	
  
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<%= link_to "Add new items", new_invoice_purchace_path(@invoice), class: 'pull-right' %>
